.DS_Store
local/*
*__pycache__**
secrets.*
local_secrets.*
.env
web/.env
web/__pycache__
web/*.pyc
web/auth/*
cli/cache/*.json
cli/*.json
cli/nfl.py
cli/examples
cli/examples/*
web/node_modules
venv/*
launcher/cli*
*.log
*.tar.gz

# Python build artifacts
web/tools/build/
web/tools/*.egg-info/
web/tools/dist/
